#header {
  .header__region {    
    .block-menu {
      padding: 0 5%;
      position: absolute;
      top: 0;
      
      a:link,
      a:visited {
        color: white;
        background-color: $color_tab;
        border-radius: 0 0 $indent-amount-small $indent-amount-small;
        padding: 0 $indent-amount-small;
        margin-left: $indent-amount-small;
        display: block;
      }
      
      li {
        padding: 0;
      }
      
      a:hover,
      a:focus {
        color: $color_text_em;
        background-color: white;
      }
    }
  }
}