$grey9: #404040;    // almost black, for text
$grey8: #606060;
$grey7: #808080;
$grey6: #A0A0A0;
$grey5: #C0C0C0;
$grey3: #EBEBEB;
$offwhite: #DFDFDF;

$c1:        #f0ac3b;
$c1_grey:   #f0d09a;
$c1_trans:  rgba(240,172,59,0.6);
$c3:        #996000;

$color_text:    $grey7;
$color_side:    $grey9;
$color_bg:      $c1;
$color_text_em: $c3;
$color_border:  $c1_grey;
$color_tab:     $c1_trans;
